body{
        font-family: "Roboto", sans-serif;
        background: linear-gradient(135deg, #e3f2fd, #fce4ec);
        color: #333;
    }
    h2 {
        font-weight: bold;
        text-align: center;
        margin: 20px;
    }
    li {
        background: #ffffff;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-family: "Roboto", sans-serif;
        padding: 15px;

        list-style: none;
        margin-bottom: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }